<section class="item">
  <%
    if item.persisted?
      # TODO: see if this is simpler if we use directory as ID
      url = lending_update_path(directory: item.directory)
      submit_label = 'Save Changes'
    else
      url = index_path
      submit_label = 'Add Item'
    end

  %>
  <table>
    <%= form_with(model: item, url: url, local: true) do |form| %>
      <tbody>
        <tr>
          <th><%= form.label(:title) %></th>
          <td><%= form.text_field(:title) %></td>
        </tr>

        <tr>
          <th><%= form.label(:author) %></th>
          <td><%= form.text_field(:author) %></td>
        </tr>

        <tr>
          <th><%= form.label(:copies) %></th>
          <td><%= form.text_field(:copies) %></td>
        </tr>

        <tr>
          <th><%= form.label(:publisher) %></th>
          <td><%= form.text_field(:publisher) %></td>
        </tr>

        <tr>
          <th><%= form.label(:physical_desc, 'Physical description') %></th>
          <td><%= form.text_field(:physical_desc) %></td>
        </tr>

        <tr>
          <th><%= form.label(:term_ids, 'Terms') %></th>
          <td><%= form.select(:term_ids, options_from_collection_for_select(Term.all, :id, :name, item.terms.pluck(:id)), {}, { multiple: true }) %></td>
        </tr>

        <tr>
          <th>Active</th>
          <td>
            <fieldset id='lending_item_active'>
              <ul>
                <li>
                  <%= form.radio_button(:active, 1, checked: item.active?, value: true) %>
                  <%= label(:item_active, 1, 'Active') %>
                </li>
                <li>
                  <%= form.radio_button(:active, 0, checked: !item.active?, value: false) %>
                  <%= label(:item_active, 0, 'Inactive') %>
                </li>
              </ul>
            </fieldset>
          </td>
        </tr>
        <tr>
          <th></th>
          <td class="action" style="padding-bottom: 2rem;"><%# TODO: something less awkward %>
            <%= form.submit(submit_label, class: 'btn primary', data: { disable_with: submit_label }) %>
          </td>
        </tr>
      </tbody>
    <% end %>

    <tfoot>
      <tr>
        <th></th>
        <td class="action">
          <% if item.iiif_directory.marc_record? %>
            <%=
              button_to(
                'Reload MARC metadata',
                lending_reload_path(directory: item.directory),
                method: :get,
                class: 'btn danger',
                data: {
                  confirm: 'Reloading MARC metadata will discard all changes made on this form.'
                }
              )
            %>
          <% else %>
            <button disabled class="btn danger disabled" title="<%= IIIFDirectory::MSG_NO_MARC_XML %>>">Reload MARC metadata</button>
          <% end %>
        </td>
      </tr>
    </tfoot>
  </table>

</section>
