<% content_for(:page_title, "UC BEARS") %>

<h1>UC BEARS (UC Berkeley Electronic and Accessible Reserves System)</h1>

<%
  # TODO: use Rails i18n
  state_to_title = {
    inactive: 'New or inactive items',
    active: 'Active items',
    incomplete: 'Incomplete items'
  }
%>

<nav>
  <ul>
    <% state_to_title.each do |state, state_title| %>
      <li><a href="#lending-<%= state %>"><%= state_title %></a></li>
    <% end %>
    <li><a href="#lending-processing">In process</a></li>
  </ul>
</nav>

<%# TODO: don't load all items three times %>
<% state_to_title.each do |state, state_title| %>
  <section id="lending-<%= state %>" class="index">
    <h2><%= state_title %></h2>

    <%# TODO: something less awkward %>
    <% no_items_for_state = true %>
    <% LendingItem.send(state).each do |item| %>
      <% no_items_for_state = false %>
      <section class="lending-item" id="<%= format_html_id(item.directory) %>">
        <% presenter = LendingItemIndexPresenter.new(self, item) %>

        <div class="item-info">
          <h3><%= presenter.title %></h3>
          <!-- <%= format_html_id(item.directory) %> (<%= item.status %>) -->

          <p class="metadata">
            <span class="author-name"><%= presenter.author %></span>
            <% presenter.pub_metadata.each_value do |v| %>
              <%= v %>
            <% end %>
          </p>

          <details>
            <summary>Details</summary>
            <table class="lending-metadata">
              <% (tabular_fields = presenter.tabular_fields).each_with_index do |(l, v), i| %>
                <% if i.even? %>
                  <tr>
                <% end %>
                <th class="lending-metadata"><%= l %>:</th>
                <td><%= format_value(v) %></td>
                <% if i.odd? || (i + 1 > tabular_fields.size) %></tr>
                <% end %>
              <% end %>
            </table>

            <table class="lending-metadata">
              <% presenter.long_fields.each do |l, v| %>
                <tr>
                  <th class="lending-metadata"><%= l %>:</th>
                  <td><%= format_value(v) %></td>
                </tr>
              <% end %>
            </table>

            <% if (reason_incomplete = item.reason_incomplete) %>
              <h4>Problems:</h4>
              <p class="problems">⚠️ <%= reason_incomplete %></p>
            <% end %>
          </details>

        </div>

        <ul class="actions">
          <% presenter.actions.each do |action| %>
            <li class="action"><%= action %></li>
          <% end %>
        </ul>

      </section>
    <% end %>
    <% if no_items_for_state %>
      <section class="lending-item">
        <p>No items to display.</p>
      </section>
    <% end %>

  </section>
<% end %>

<section id="lending-processing" class="index">
  <h2>In process</h2>
  <section class="lending-item">
    <% processing_dirs = Lending.each_processing_dir.to_a %>
    <% if processing_dirs.empty? %>
      <p>No items to display.</p>
    <% else %>
      <table class="processing">
        <thead>
          <tr>
            <th>Directory</th>
            <th>Last modified</th>
          </tr>
        </thead>
        <tbody>
          <% processing_dirs.sort_by(&:mtime).each do |d| %>
            <tr>
              <td>
                <%= d.basename %>
              </td>
              <% mtime = d.mtime.in_time_zone %>
              <% age = (Time.current.in_time_zone - mtime) %>
              <% if age > Rails.application.config.processing_time_limit %>
                <td class="problems">
                  <%= format_date(d.mtime) %> ⚠️
                </td>
              <% else %>
                <td>
                  <%= format_date(d.mtime) %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </section>
</section>

<nav>
  <ul>
    <li><a href="#main">Back to top</a></li>
  </ul>
</nav>
