<% presenter = LendingItemShowPresenter.new(self, @item) %>

<% content_for(:page_title, "Admin view of “#{@item.title}”") %>
<h1>UC BEARS (UC Berkeley Electronic and Accessible Reserves System)</h1>

<nav>
  <ul>
    <li><%= link_to 'Edit this item', lending_edit_path(directory: @item.directory) %></li>
  </ul>
</nav>

<section class="item">
  <% if presenter.show_viewer? %>
    <% content_for(:head_additional) do %>
      <%= javascript_include_tag('viewer') %>
      <%= stylesheet_link_tag('viewer') %>
    <% end %>
    <%=
      render(
        partial: 'viewer',
        locals: {
          manifest_url: manifest_url,
          viewer_title: presenter.viewer_title,
        }
      )
    %>
  <% else %>
  <h2><%= presenter.title %></h2>
  <% end %>

  <table class="item-metadata">
    <% presenter.fields.each do |label, value| %>
      <tr>
        <th><%= label %></th>
        <td><%= format_value(value) %></td>
      </tr>
    <% end %>
    <% presenter.actions.each do |action| %>
    <tr>
      <td class="action">
        <%= action %>
      </td>
    </tr>
    <% end %>
  </table>
</section>
