<% presenter = LendingItemShowPresenter.new(self, @lending_item) %>

<% content_for(:page_title, "#{@lending_item.title}") %>
<h1>UC BEARS (UC Berkeley Electronic and Accessible Reserves System)</h1>

<section class="item">
  <% if presenter.show_viewer? %>
    <% content_for(:head_additional) do %>
      <%= javascript_pack_tag('viewer') %>
      <%= stylesheet_link_tag('viewer') %>
    <% end %>
    <%=
      render(
        partial: 'viewer',
        locals: {
          manifest_url: manifest_url,
          viewer_title: presenter.viewer_title,
        }
      )
    %>
  <% else %>
  <h2><%= presenter.title %></h2>
  <% end %>

  <table class="item-metadata">
    <% presenter.fields.each do |label, value| %>
      <tr>
        <th><%= label %></th>
        <td><%= format_value(value) %></td>
      </tr>
    <% end %>
    <% presenter.actions.each do |action| %>
    <tr>
      <th class="action">
        <%= action %>
      </th>
    </tr>
    <% end %>
  </table>
</section>
