<%
  content_for(:page_title, 'UC BEARS: Statistics')
  # TODO: Rewrite as helper methods
  presenter = StatsPresenter.new
%>

<h1>UC BEARS (UC Berkeley Electronic and Accessible Reserves System)</h1>

<%# TODO: use Rails I18n %>
<section class="record">
  <table>
    <thead>
    <tr>
      <th>Sessions</th>
    </tr>
    </thead>

    <tbody>

    <% presenter.all_session_stats.each do |stats| %>
      <tr>
        <th><%= stats.types.join('/') %></th>
        <td>
          <%
            total_sessions = stats.total_sessions
            unique_users = stats.unique_users
          %>
          <%= total_sessions %> <%= 'session'.pluralize(total_sessions) %>
          (<%= unique_users %> unique <%= 'user'.pluralize(unique_users) %>)
        </td>
      </tr>
    <% end %>

    <tr>
      <th>Total</th>
      <td>
        <%
          total_sessions = presenter.session_count_total
          unique_users = presenter.session_unique_users
        %>
        <%= total_sessions %>
        (<%= unique_users %> unique <%= 'user'.pluralize(unique_users) %>)
      </td>
    </tr>

    </tbody>

    <tfoot>
    <tr>
      <th>Notesgit</th>
      <td>
        <ul>
          <%# TODO: style this properly %>
          <li style="list-style-position: inside; list-style-type: square;">"Faculty" represents all academic
            appointees, including librarians.
          </li>
          <li style="list-style-position: inside; list-style-type: square;">Some users fall into multiple types (e.g.,
            admin users are generally also staff or faculty).
          </li>
        </ul>
      </td>
    </tr>
    </tfoot>
  </table>

  <table>
    <thead>
    <tr>
      <th>Loans</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <th>Active</th>
      <td><%= presenter.loan_count_active %></td>
    </tr>
    <tr>
      <th>Complete</th>
      <td>
        <% complete_count = presenter.loan_count_complete %>
        <%= complete_count %>
        <%
          if complete_count > 0
            expired_count = presenter.loan_count_expired
            returned_count = complete_count - expired_count
        %>
          (<%= expired_count %> expired, <%= returned_count %> returned)
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Median loan duration</th>
      <td>
        <% if (median_duration = presenter.loan_duration_median&.seconds) %>
          <%# TODO: consider 'dotiw' gem for better display %>
          <%= distance_of_time_in_words(median_duration) %>
        <% else %>
          N/A
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Total</th>
      <td><%= presenter.loan_count_total %></td>
    </tr>
    </tbody>
  </table>

  <table>
    <thead>
    <tr>
      <th>Items</th>
    </tr>
    </thead>

    <tbody>
    <% presenter.item_counts_by_state.each do |title, count| %>
      <tr>
        <th><%= title %></th>
        <td><%= count %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <table>
    <thead>
    <tr>
      <th>Checkouts by date</th>
    </tr>
    </thead>
    <tbody>
    <% presenter.item_lending_stats_by_date.each do |date, item_stats_for_date| %>
      <tr>
        <th><%= l(date, format: :short) %></th>
        <td>
          <%# TODO: format this properly %>
          <% item_stats_for_date.each do |item_stats| %>
            <% item = item_stats.item %>
            <% link_text = [:record_id, :barcode, :title].map { |attr| item.send(attr) }.join(' ') %>
            <% link_href = lending_show_path(directory: item.directory) %>
            <%= link_to(link_text, link_href) %>
            <ul>
              <%# TODO: style this properly %>
              <li style="list-style-position: inside; list-style-type: square;">
                <%= item_stats.loan_count_total %> checkouts
                (<%= item_stats.loan_counts_by_state
                     .map { |state, count| "#{count} #{state}" }.join(', ') %>)
              </li>
            </ul>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

</section>
