<% presenter = LendingItemViewPresenter.new(self, @item, @loan) %>

<% content_for(:page_title, "#{@item.title}") %>
<h1><%= t('app_title_full') %></h1>

<section class="item">
  <% if presenter.show_viewer? %>
    <%
      # TODO: something less hacky
      content_for(:head_additional) do
        next unless @loan&.active?

        redirect_s = 5 + @loan.seconds_remaining.to_i
        redirect_url = lending_view_url(directory: @loan.item.directory)
    %>
      <meta http-equiv="Refresh" content="<%= "#{redirect_s}; URL=#{redirect_url}" %>">
      <%= javascript_pack_tag('viewer') %>
      <%= stylesheet_link_tag('viewer') %>
    <% end %>

    <%=
      render(
        partial: 'viewer',
        locals: {
          manifest_url: manifest_url,
          viewer_title: presenter.viewer_title,
        }
      )
    %>
  <% else %>
    <p class="altmedia-note">
      <%= t('items.view.altmedia_note_html') %>
    </p>
    <h2><%= presenter.title %></h2>
  <% end %>

  <table>
    <% presenter.fields.each do |label, value| %>
      <tr>
        <th><%= label %></th>
        <td><%= format_value(value) %></td>
      </tr>
    <% end %>
    <% if presenter.loan.ok_to_check_out? %>
      <%= render(partial: 'copyright', locals: { presenter: presenter }) %>
    <% elsif !presenter.loan.active? %>
      <%= render(partial: 'not_available', locals: { presenter: presenter }) %>
    <% else %>
      <tr>
        <td class="action">
          <%= presenter.action %>
        </td>
      </tr>
    <% end %>

  </table>
</section>
