<%
  content_for(:page_title, 'UC BEARS: Statistics')
  # TODO: Rewrite as helper methods
  presenter = StatsPresenter.new
%>

<h1>UC BEARS (UC Berkeley Electronic and Accessible Reserves System)</h1>

<%# TODO: use Rails I18n %>
<section class="stats">

  <!-- Session stats -->
  <section class="stats-subsection" id="stats-sessions">
    <h2>Sessions</h2>
    <table class="stats-table">
      <tbody>
        <% all_session_stats = presenter.all_session_stats %>
        <% all_session_stats.each_with_index do |stats, i| %>
          <%
            unique_users = stats.unique_users
            total_sessions = stats.total_sessions
          %>
          <tr>
            <% if i == 0 %>
              <th rowspan="<%= (3 * (1 + all_session_stats.size)) %>">User types</th>
            <% end %>
            <th rowspan="2" scope="rowgroup">
              <%= stats.types.map(&:capitalize).join('/') %>
              <% if stats.types.size == 1 %>
              (only)
              <% end %>
            </th>
            <td>Sessions</td>
            <td><%= total_sessions %></td>
          </tr>
          <tr>
            <td>Users</td>
            <td><%= unique_users %></td>
          </tr>
        <% end %>
        <tr class="stats-summary">
          <th style="border-bottom-style: none;" rowspan="2" scope="rowgroup">
            All types
          </th>
          <th>Total sessions</th>
          <td><%= presenter.session_count_total %></td>
        </tr>
        <tr class="stats-summary">
          <th style="border-top: 0;">Total unique users</th>
          <td style="border-top: 0;"><%= presenter.session_unique_users %></td>
        </tr>
      </tbody>
    </table>

    <section class="notes">
      <h3>Notes</h3>
      <ul>
        <li>"Faculty" represents all academic appointees, including librarians.</li>
        <li>Some users fall into multiple types (e.g., admin users are generally also staff or faculty).</li>
      </ul>
    </section>
  </section>

  <!-- Item stats -->
  <section class="stats-subsection" id="stats-items">
    <h2>Items</h2>
    <table class="stats-table">
      <% counts = presenter.item_counts_by_state %>
      <tbody>
        <% counts.each_with_index do |(title, count), i| %>
          <tr>
            <% if i == 0 %>
              <th rowspan="<%= 1 + counts.size %>">
                Item status
              </th>
            <% end %>
            <th><%= title %></th>
            <td><%= count %></td>
          </tr>
        <% end %>
        <tr class="stats-summary">
          <th>Total</th>
          <td><%= counts.values.sum %></td>
        </tr>
      </tbody>
    </table>
  </section>

  <!-- Loan stats -->
  <section class="stats-subsection" id="stats-loans">
    <h2>Loans</h2>
    <table class="stats-table">
      <tbody>
        <tr>
          <th rowspan="6">
            Loan status
          </th>
          <th>Active</th>
          <td><%= presenter.loan_count_active %></td>
        </tr>
        <tr>
          <th>Expired</th>
          <td><%= presenter.loan_count_expired %></td>
        </tr>
        <tr>
          <th>Returned</th>
          <td><%= presenter.loan_count_returned %></td>
        </tr>
        <%# TODO: better stats-summary styling logic %>
        <tr class="stats-summary">
          <th style="border-top: 0;">Total complete</th>
          <td style="border-top: 0;"><%= presenter.loan_count_complete %></td>
        </tr>
        <tr class="stats-summary">
          <th>Total loans</th>
          <td><%= presenter.loan_count_total %></td>
        </tr>
        <tr class="stats-summary">
          <th>Median loan duration</th>
          <td colspan="2">
            <%= format_duration(presenter.loan_duration_median, value_for_nil: 'N/A') %>
          </td>
        </tr>
      </tbody>
    </table>

    <section class="stats-subsection">

      <h3>Lending stats by date (CSV)</h3>
      <% if (all_dates = ItemLendingStats.all_loan_dates).empty? %>
        <p>(No stats to download.)</p>
      <% else %>
        <p>
          <% link_text = [all_dates.last, all_dates.first].uniq.map(&:iso8601).join(' – ') %>
          <strong>All dates:</strong> <%= link_to(link_text, stats_download_path) %>
        </p>
        <ul class="stats-downloads">
          <% all_dates.each do |date| %>
            <% iso_date = date.iso8601 %>
            <li>
              <%= link_to(iso_date, stats_download_path(date: iso_date)) %>
            </li>
          <% end %>
        </ul>
      <% end %>

    </section>

    <section class="stats-subsection">
      <%
        # TODO: move cutoff functionality to ItemLendingStats
        cutoff_days = 7
        cutoff_items = 10
      %>
      <h3>Recent popular items</h3>
      <p>The <%= cutoff_items %> most popular items for each of the last <%= cutoff_days %> days.</p>
      <% scopes = LendingItemLoan::LOAN_STATUS_SCOPES - [:pending] %>
      <table class="stats-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Record ID</th>
            <th>Barcode</th>
            <% scopes.each do |status| %>
              <th><%= status.to_s.capitalize[0...3] %>.</th>
            <% end %>
            <th>Total</th>
            <th>Title</th>
          </tr>
        </thead>

        <tbody>
          <% cutoff_date = Date.current - cutoff_days.days %>
          <% presenter.item_lending_stats_by_date.each do |date, stats_for_date| %>
            <% break if date <= cutoff_date %>

            <% stats_for_date.each_with_index do |item_stats, i| %>
              <% break if i >= cutoff_items %>
              <% item = item_stats.item %>
              <% link_href = lending_show_path(directory: item.directory) %>
              <% counts_by_status = item_stats.loan_counts_by_status %>
              <tr>
                <% if i == 0 %>
                  <th rowspan="<%= [cutoff_items, stats_for_date.size].min %>">
                    <%= l(date, format: :short) %>
                  </th>
                <% end %>
                <td><%= link_to(item.record_id, link_href) %></td>
                <td><%= link_to(item.barcode, link_href) %></td>
                <% scopes.each do |status| %>
                  <td style="text-align: center"><%= counts_by_status[status] || '-' %></td>
                <% end %>
                <th style="text-align: center"><%= item_stats.loan_count_total %></th>
                <td><%= link_to(item.title, link_href) %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </section>
  </section>
</section>
