<%
  flash_messages = flash.each_with_object({}) do |(lvl, msgs), h|
    next unless msgs
    next if (messages = Array(msgs)).empty?

    h[lvl] = messages
  end
%>
<% if flash_messages.any? %>
  <aside id="flash" class="flash">
    <% flash_messages.each do |lvl, messages| %>
      <% messages.each_with_index do |msg, i| %>
        <% dismiss_checkbox_id = "flash-dismiss-global-#{lvl}-#{i}" %>
        <input type="checkbox" class="flash-dismiss" id="<%= dismiss_checkbox_id %>">
        <div class="flash <%= lvl %>">
          <label class="flash-dismiss-label" for="<%= dismiss_checkbox_id %>">
            <%# TODO: figure out why Capybara doesn't respect CSS height/width here %>
            <%= image_tag('icons/times-circle.svg', height: '19', width: '19', class: 'flash-dismiss-icon', alt: 'Hide alert') %>
          </label>
          <p class="flash" role="alert"><%= CGI.escapeHTML(msg) %></p>
        </div>
      <% end %>
    <% end %>
  </aside>
<% end %>
