<header>
  <div class="header-logo">
    <a href="https://www.lib.berkeley.edu/">
      <%= image_tag('UCBerkeley_Library_wordmark_black.svg', class: 'header-logo', alt: 'UC Berkeley Library') %>
    </a>
    <span class="site-name"><%= index_link %></span>
  </div>
  <nav>
    <input type="checkbox" id="nav-menu">
    <label class="nav-menu-label" for="nav-menu">
      <svg xmlns="http://www.w3.org/2000/svg" focusable="false" viewBox="0 0 448 512">
        <path fill="currentColor"
              d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"/>
      </svg>
    </label>
    <ul>
      <li>
        <%= logout_link %>
      </li>
      <% if current_user.lending_admin? %>
        <li>
          <%= link_to('Index', index_path) %>
        </li>
        <li>
          <%= link_to('Statistics', stats_path) %>
        </li>
      <% end %>
      <li>
        <a href="https://www.lib.berkeley.edu/">Library Home</a>
      </li>
    </ul>
  </nav>
</header>
